POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
APP_PORT=3000
USERS_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/users_db?schema=public
ORDERS_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/orders_db?schema=public
